{%extends 'management/base.html'%}
{% load staticfiles %}
{%block title%} Menu | LaundryBear {%endblock%}
{% block stylesheets %}
<link rel="stylesheet" href="{% static "LaundryBear/css/clickyTable.css" %}">
{% endblock %}
{%block body%}

<div class="row">
    <div class="large-2 columns"></div>
    <div class="large-8 large-offset-2 columns">
        <h3 style="text-align: center;"><b>Welcome back, {{request.user}}!</b></h3>
        {% if pending_shop_registration_list %}
        <h5 style="text-align: center;"><b></b>Shops pending approval to operate</h5>
        <div class="row" style="overflow-x:auto" align="center">
          <table id="clicky-table" style="margin:auto">
              <thead>
              <th>Name of Shop</th>
              <th>Time Requested</th>
              <th>Actions</th>
              </thead>
              <tbody>
              {% for shop in pending_shop_registration_list %}
                {% include 'management/shop/partials/inactive_shops_row.html' %}
              {% endfor %}
              <tr>
              <td colspan="3" style="text-align: center;" onclick="document.location.href='{% url "management:pending-transactions" %}';">Show More</td>
              </tr>
              </tbody>
          </table>
        </div>
        {% else %}
        <h5 style="text-align: center;"><b></b>No pending requests to review</h5>
        {% endif %}

        {% if load_requests_list%}
        <hr>
        <h5 style="text-align: center;"><b></b>Shops pending credits approval</h5>
        <div class="row" style="overflow-x:auto" align="center">
          <table id="clicky-table" style="margin:auto">
              <thead>
              <th>Name of Shop</th>
              <th>Shop Administrator</th>
              <th>Amount</th>
              <th>Actions</th>
              </thead>
              <tbody>
              {% for load_request in load_requests_list %}
                {% include 'management/shop/partials/load_requests_list.html' %}
              {% endfor %}
              <tr>
              <td colspan="3" style="text-align: center;" onclick="document.location.href='{% url "management:pending-transactions" %}';">Show More</td>
              </tr>
              </tbody>
          </table>
        </div>

        {% endif %}

    </div>
    <div class="large-2 columns"></div>
</div>



{%endblock%}
{% block javascripts %}
  <script src="{% static "management/js/shops.js" %}"></script>
{% endblock %}
