{% extends 'client/base.html'%}
{% load staticfiles %}
{% load custom_math %}
{% block title %} Dashboard | LaundryBear {% endblock %}
{%block body%}
<div class="row">
  <div class="container green lighten-5 z-depth-2" style="border-radius: 7px">
    <ul class="collapsible" style="border: 0px;padding-top: 2px">
      {% if transaction_list %}
        <h4 class="center"><b>Laundry Requests</b></h4>

        <!-- <div class="search-wrapper">
          <input type="search" id="search">
          <label for="search"><i class="material-icons">search</i></label>
        </div> -->
        {% for transaction in transaction_list %}
          {% include 'client/partials/transactions/transaction_item.html' %}
        {% endfor %}
      {% else %}
      <h4 class="center">Welcome, {{ user.username }}! </h4>
      <div class="grey-text">
        <h5 class="center" style="border-top: 1px groove; padding: 5px 0px 7px 0px">Would you like to make a transaction?</h5>
      </div>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
