{% extends 'client/base.html'%}
{% load staticfiles %}
{% block title %} Dashboard | LaundryBear {% endblock %} {%block body%}
<div class="row">
    <div class="large-1 columns"></div>
    <div class="large-9 large-offset-1 columns">
        <div class="panel">
            <h3 style="text-align:center">Welcome, <b>{{ userprofile.client.username }}!</b></h3>
            <h6 style="text-align:center">You have no existing laundry requests</h6>
        </div>
    </div>
    <div class="large-1 columns"></div>
</div>
{% endblock %}
