{% extends 'client/base.html' %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "client/css/selectshopcontrol.css" %}" />
<link rel="stylesheet" href="{% static "client/css/viewcontrol.css" %}" />
<link rel="stylesheet" href="{% static "LaundryBear/css/normalize.css" %}" />
<link rel="stylesheet" href="{% static "LaundryBear/reveal/reveal.css" %}" />
{% endblock %}

{% block title %}Laundry Bear | Request {% endblock %}

{% block body %}

<div class="row">
  <div class="container shop-header green lighten-5 z-depth-2" style="padding-top: 5px; margin-top: 10px">
    <h3 style="text-align:center"> {{ shop.name }} </h3>
    <div class="row">
        <div class="center" >
            {% if shop.average_rating %}
            <h5>
              {{ shop.average_rating }} paws
              <div class="paw-container" style="width: {% widthratio shop.average_rating 5 150 %}px; margin: auto;" ><img src="{% static "management/icons/star.png" %}" /></div>
              <br>
              <span>a total of {{ shop.raters }} reviews</span>
            </h5>
            {% else %}
            <h5>This shop has no paws yet.</h5>
            <span>Be the first to imprint <i class="fa fa-fw fa-paw"></i></span>
            {% endif %}
        </div>
        <div class="center">
            <p><strong>Location</strong> <br>{{ shop.location }} </p>
            <p><strong>Contact number </strong><br> {{ shop.contact_number}}</p>
            <p><strong>Days Open</strong><br> {{shop.days_open}}, {{ shop.hours_open }}</p>
            {% if shop.email %}
            <p><strong>Email</strong><br> {{ shop.email}} </p>
            {% else %} {% endif %}
        </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="container center">
    <h5>Choose Service</h5>
    <div class="row">
      <div class="input-field s12">
        <select class="service-choices">
          <option value="" disabled selected>Choose your option</option>
          {% for service in service_list %}
          <option class="black" value="{{service.pk}}" data-price = "{{service.price}}" data-description="{{service.service.description}}">{{service.service.name}}</option>
          {% endfor %}
        </select>
      </div>
      <!-- <div class="center">
        <button class="btn waves-effect waves-light pink lighteon-2 modal-trigger" data-target="serviceModal">Avail this Service</button>
      </div> -->
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <h4 class="center">My Laundry Basket</h4>
    <h5 class="center nothing-label">Nothing in basket yet.</h5>
    <ul class="collapsible service-orders" data-collapsible="expandable">
    </ul>
  </div>
</div>
<div class="modal" id="serviceModal">
  <div class="modal-content">
      <div class="container">
        <div class="row">
          <h3></h3>
          <p id="servicePrice"></p>
          <p id="serviceDescription"></p>
          Number of clothes <input class="input-field num-clothes" type="number" min="1" />
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect waves-light light-blue btn-flat add-to-basket">
      <span class="grey-text text-darken-4"><i class="material-icons" style="vertical-align:bottom">add_shopping_cart</i>Add to Basket
      </span>
    </a>
  </div>
</div>

<div class="row">
    <div class="large-12 columns" align="center">
        <a href="{% url "client:view-shops" %}" class="btn light-blue waves-light waves-effect">Back</a>
        <a href="{% url "client:order-summary" shop.pk %}" class="btn green waves-light waves-effect">Request</a>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{% static "client/js/order.js" %}"></script>
{% endblock %}
