{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "LaundryBear/css/foundation.css"%}" />
  <link rel="stylesheet" href="{% static "client/css/signupcontrol.css" %}"/>
  <link rel="stylesheet" href="{% static "LaundryBear/foundation-icons/foundation-icons.css"%}" />
  <title>Laundry Bear | Sign Up</title>
</head>
<body>

  <div align="center" class="row">
    <a href="{% url 'client:login' %}"><img src="{% static "management/icons/logologin.png"%}" /></a>
    <center><strong><h3><b>Join us and be part of something clean!</b></h3></strong></center><hr>
  </div>

<div class="row large-offset-4 large-4 columns collapse" style="background-color:white">
  <form action="{%url 'client:signup'%}"method="post">
    {% csrf_token %}
    {{ userform.as_p }}
    {{ userprofileform.as_p }}

    <div align="center">
      <div>
      <input type="checkbox" id="eulaselected" value="I agree to the terms and conditions"/>
      By Signing up, I agree to the terms and conditions of Laundry Bear.
      </div>
      <input type="submit" class="button disabled" id="signup" value="Sign Up"/>
    </div>
  </form>
  <div align="center">
      <a href="{%url 'client:login'%}">Login here </a>
    <p>Already have an account?</p>
  </div>
</div>

<script src="{%static "LaundryBear/js/vendor/modernizr.js"%}"></script>
   <script src="{%static "LaundryBear/js/vendor/jquery.js"%}"></script>
<script src="{%static "LaundryBear/js/vendor/fastclick.js"%}"></script>
   <script src="{%static "LaundryBear/js/foundation.min.js"%}"></script>
<script src="{%static "management/js/app.js"%}"></script>
<script>

  $('#eulaselected').change(function(){ $('#signup').toggleClass('disabled');});
  $('#id_userprofile-account_type').children().last().prev().remove();
</script>
</body>
</html>
