{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" href="{% static "LaundryBear/vendor/mdl/material.blue-pink.min.css" %}"/>
    <link rel="stylesheet" href="{% static "LaundryBear/vendor/mdl/icon.css" %}"/>
    <link rel="stylesheet" href="{% static "LaundryBear/vendor/mdl/fonts.css" %}"/>
    <link rel="stylesheet" href="{% static "client/slick/slick.css"%}"/>
    <link rel="stylesheet" href="{% static "client/slick/slick-theme.css"%}"/>
    <title>Welcome to LaundryBear</title>
</head>
<body>
<header class="header">
    <div class="slider">
        <div><img height="100%" width="100%" src={% static "client/icons/header3.jpg"%}></div>
        <div><img height="100%" width="100%" src={% static "client/icons/locate.jpg"%}></div>
        <div><img height="100%" width="100%" src={% static "client/icons/request.jpg"%}></div>
        <div><img height="100%" width="100%" src={% static "client/icons/pay.jpg"%}></div>
        <div><img height="100%" width="100%" src={% static "client/icons/receive.jpg"%}></div>
    </div>
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
          <a href="#login-panel" class="mdl-tabs__tab is-active">Log In</a>
          <a href="#signup-panel" class="mdl-tabs__tab">Sign Up</a>
          <a href="#about-us-panel" class="mdl-tabs__tab">About Us</a>
      </div>

      <div class="mdl-tabs__panel is-active" id="login-panel" align="center">
        {%if not user.is_authenticated %}
        <div id="container" class="row">
            <div id="form" class="login">
                {% if form.non_field_errors %}
                <div class="row">
                    <div class="large-12 columns">
                        <span class="error label">{{ form.non_field_errors | striptags }}</span>
                    </div>
                </div>
                {% endif %}
                <div class="medium-4 columns">
                    <div class="login-box">
                        <div class="row">
                            <h3 id="adminlogin"align="center"><img id="logo"src="{% static "management/icons/logologin.png"%}" /></h3>
                            <br>
                        </div>
                    </div>
                </div>
                <div id="info" class="medium-4 columns">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="mdl-textfield mdl-js-textfield large-12 columns">
                                <label class="mdl-textfield__label"><b>Username</b></label>
                                <input type="text" class="mdl-textfield__input" name="username" placeholder="Enter your username" required autocomplete="on" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="mdl-textfield mdl-js-textfield large-12 columns">
                                <label class="mdl-textfield__label"><b>Password</b></label>
                                <input type="password" class="mdl-textfield__input" name="password" placeholder="Enter your password" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                              <button type="submit" name="loginButton" class="mdl-button mdl-js-button mdl-button--rased mdl-button--colored mdl-js-ripple-effect">
                                Sign In
                              </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {%endif%}
      </div>
      <div class="mdl-tabs__panel" id="signup-panel">

      </div>
      <div class="mdl-tabs__panel" id="about-us-panel">

      </div>
    </div>

    <script src="{% static "LaundryBear/vendor/jquery/jquery-3.1.0.min.js"%}"></script>
    <script src="{% static "LaundryBear/vendor/mdl/material.min.js" %}" charset="utf-8"></script>
    <script src="{%static "client/slick/slick.min.js"%}"></script>
    <script src="{% static "LaundryBear/vendor/materialize/js/materialize.min.js" %}"></script>
  <script type="text/javascript">
      $(document).ready(function(){
        $('.slider').slick({
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          adaptiveHeight: true,
          autoplay: true,
          autoplayspeed: 8000,
          dots: true,
          arrows: false,
          fade: false,
          mobileFirst: true,
          pauseOnHover: true,
          speed: 800,
          swipeToSlide: true,

       });
      });

    </script>
</body>
</html>
