{% load staticfiles  %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>{% block title %}LaundryBear{% endblock %}</title>
    <link rel="stylesheet" href="{% static "LaundryBear/css/foundation.min.css" %}"/>
    <link rel="stylesheet" href="{% static "shopadmin/css/app.css" %}"/>
    <link rel="stylesheet" href="{% static "shopadmin/css/control.css" %}"/>
    <link rel="stylesheet" href="{% static "LaundryBear/foundation-icons/foundation-icons.css" %}" />
    {%block stylesheets%} {% endblock %}
  </head>
  <body>
    <div id="header">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">

        <li class="name">
          <h1>
			  <a href="{% url "shopadmin:menu" %}">
			  <img src="{% static "LaundryBear/images/header-logo.png" %}" width="60%" height="60%"/>
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>

      <section class="top-bar-section">

        <ul id="topbar" class="right">
          <!-- if laundry shop is active -->
          {% if user.userprofile.laundry_shop and user.userprofile.laundry_shop.status == 2 %}
          <li class="divider"></li>
          <li id="topbar">
            <a href="{% url "shopadmin:list-shops"%}">See All Shops</a>
          </li>

        <li class="divider"></li>
          <li class="has-dropdown">
            <a>Manage Services</a>
            <ul class="dropdown">
              <li><a href="{% url "shopadmin:add-service" %}">Add Service</a></li>
              <li class="divider"></li>
              <li><a href="{% url "shopadmin:list-service"%}">See all →</a></li>
            </ul>
          </li>


          <li class="divider"></li>
          <li><a href="{% url "shopadmin:list-client" %}">View Customers</a></li>
          <li class="divider"></li>


          <li class="has-dropdown">
            <a href="{% url "shopadmin:pending-transactions" %}">View Transactions</a>
            <ul class="dropdown">
              <li><a href="{% url "shopadmin:pending-transactions" %}">Pending</a></li>
              <li class="divider"></li>
              <li><a href="{% url "shopadmin:ongoing-transactions" %}">Ongoing</a></li>
              <li class="divider"></li>
              <li><a href="{% url "shopadmin:history-transactions" %}">History</a></li>
            </ul>
          </li>
          {% endif %}


          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Hi, {{user.username}}</a>
            <ul class="dropdown">
              <li><a href="{%url "shopadmin:settings"%}">Settings</a></li>
              <li class="divider"></li>
              <li><a href="{%url "shopadmin:logout-admin"%}">Sign Out →</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
    </div>

    <div id="body">
      {%block body%}{%endblock%}
    </div>

    <div id="footer">
      {%block footer%}{%endblock%}
        <hr>
        <div class="large-12 columns">
                <p>Laundry Bear 2015</p>
      </div>
    </div>


    <script src="{%static "LaundryBear/js/vendor/modernizr.js"%}"></script>
    <script src="{%static "LaundryBear/js/vendor/jquery.js"%}"></script>
    <script src="{%static "LaundryBear/js/vendor/fastclick.js"%}"></script>
    <script src="{%static "LaundryBear/js/foundation.min.js"%}"></script>
    <script src="{%static "LaundryBear/js/foundation.accordionMenu.js"%}"></script>
    <script src="{%static "shopadmin/js/app.js"%}"></script>
    {%block javascripts%} {% endblock %}
  </body>
</html>
