{% load staticfiles %}

<a class="collection-item avatar waves-effect waves-dark" href="{% url "client:order" shop.pk  %}">
  <img src="{% static "LaundryBear/images/logologin.png"%}" alt="" class="circle">
  <span class="title black-text">{{shop.name}}</span>
  <p class="grey-text text-darken-3">
     {{shop.street}} {{shop.barangay}}, {{shop.city}}<br>
     Shop Rating:
     {% if shop.average_rating %}
     <span>
       <div class="paw-container" style="width: {% widthratio shop.average_rating 5 150 %}px; " ><img src="{% static "management/icons/star.png" %}" /></div>
     </span>
     {% else %}
     Be the first to Rate!
     {% endif %}
  </p>
</a>
