{%extends 'shopadmin/base.html'%}
{% load staticfiles %}
{%block title%} Menu | LaundryBear {%endblock%}
{% block stylesheets %}
<link rel="stylesheet" href="{% static "LaundryBear/css/clickyTable.css" %}">
{% endblock %}
{%block body%}

<div class="row">
    <div class="large-2 columns"></div>
    <div class="large-8 large-offset-2 columns">
        <h3 style="text-align: center;"><b>Welcome back, {{request.user}}!</b></h3>
        {%if pending_transaction_list%}
        <h5 style="text-align: center;"><b></b>You've got some work to do</h5>
        <table id="clicky-table" style="margin:auto">
            <thead>
            <th>Name of Client</th>
            <th>Laundry Shop</th>
            <th>Date Requested</th>
            <th>Time Requested</th>
            </thead>
            <tbody>
            {% for transaction in pending_transaction_list %}
            {% include "management/transactions/partials/pending_transaction_row.html" %}
            {% endfor %}
            <td colspan="4" style="text-align: center;" onclick="document.location.href='{% url "shopadmin:pending-transactions" %}';">Show More</td>
            </tbody>
        </table>
        {%else%}
        <h5 style="text-align: center;"><b></b>No pending requests to review</h5>
        {%endif%}
    </div>
    <div class="large-2 columns"></div>
</div>



{%endblock%}
