{% load staticfiles  %}

<link rel="stylesheet" href="{% static "LaundryBear/css/foundation.min.css" %}"/>
<form method="post">
	{%csrf_token%}
  <h3 style="text-align: center;">Add New Service</h3>
  <div class="row">
    <div class="large-12 columns">
			<label>Service Name:
				<span id="required" class="warning label right">Required field</span>
      </label> {{form.name}}
    </div>
    <div class="large-12 columns">
      <label>Description:
					<span id="required" class="warning label right">Required field</span>
      </label>  {{form.description}}
    </div>
		<button type="submit" class="button small right" class="close-reveal-modal" aria-label="Close" id="add-new-service-button">Save</button>
  </div>
</form>
