{% load staticfiles %}

<li>
  <div class="collapsible-header">
    <div class="row" style="margin-bottom: 0px">
      <div class="col s6 m6 l6">
        <b>{{transaction.order_set.first.price.laundry_shop }}</b>
      </div>
      <div class="col s6 m6 l6 right-align">
        <b>{{ transaction.request_date.date }}</b>
      </div>
    </div>
  </div>
  <div class="collapsible-body black-text">
    <div class="row transact-info ">
      <div class="col s12 m6 l6">
        {% if transaction.delivery_date %}
        <b><i class="fa fa-fw fa-calendar"></i>&nbsp;Ret. Date:</b> {{ transaction.delivery_date }} <br>
        {% else %}
        {% endif %}
      </div>
      <div class="col s12 m6 l6" style="padding-top: 5px">
        {% if transaction.get_choice_name == "Done" %}
        <b class="light-green-text accent-3"><i class="fa fa-fw fa-check"></i>&nbsp;Status: Delivered!</b>
        {% elif transaction.get_choice_name == "Pending" %}
        <b class="yellow-text"><i class="fa fa-fw fa-commenting"></i>&nbsp;Status: Pending</b>
        {% elif transaction.get_choice_name == "Ongoing" %}
        <b class="cyan-text accent-2"><i class="fa fa-fw fa-spinner fa-spin"></i>&nbsp;Status: Ongoing</b>
        {% elif transaction.get_choice_name == "Rejected" %}
        <b class="red-text darken-4"><i class="fa fa-fw fa-times"></i>&nbsp;Status: REJECTED!</b>
        {%endif%}
      </div>
    </div>
    <div class="row transact-info">
      <div class="col s12 m6 l6">
        <b><i class="fa fa-fw fa-money"></i>&nbsp;Price: </b> {{transaction.price}}
      </div>
      <div class="col s12 m6 l6" style="padding-top: 5px">
        <div class="row">
          <div class="col s6 m6 l6">
            <b><i class="fa fa-fw fa-bar-chart"></i>&nbsp;Shop's Paws: </b>
            <div class="raty-rating" data-value="{{transaction.order_set.first.price.laundry_shop.average_rating}}" id="transaction.id"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row transact-info">
      <div class="col s12 m12 l12">
        <b><i class="fa fa-fw fa-paw"></i>&nbsp; Your Rating: </b>
        {% if transaction.paws %}

        <div class="raty-rating" data-value={{ transaction.paws }}></div>

        {% if transaction.comment %}
        <b><i class="fa fa-fw fa-comment"></i>&nbsp; Your Comment: </b><br>
        {{transaction.comment}}
        {% endif %}

        {% elif transaction.get_choice_name == "Done" or transaction.get_choice_name == "Rejected" %}
        <form action="{% url "client:rate" transaction.pk %}" method="post" charset="UTF-8" id="usrform">
          {% csrf_token %}
          <div>
            <div class="rate" hidden>
              <div class="raty">
              </div>
              <div class="input-field col s12">
                <textarea name="comment" class="materialize-textarea"></textarea>
                <label for="comment">Comment</label>
              </div>
              <input type="hidden" id="transaction_id" name="id" value=""/>
              <input type="submit" class="submit-feedback disabled btn light-blue waves-effect waves-light" value="Submit"/>
            </div>

            <a class="raty-click btn pink waves-effect waves-light" id="{{ transaction.id }}">
              Imprint
            </a>
          </div>


        </form>
        {% else %}
          <br>Not yet available
        {% endif %}
      </div>
    </div>
  </div>
</li>
